
<div class="arriba ">
<div class="cards-container">
    <div class="card" style="width: 18rem;">
      <img src="img/fot1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
          <h4>Tarwi</h4>
         <p class="card-text">Es muy nutritivo y con un toque amargo. 
          Su contenido proteico y de grasa es superior al de otras leguminosas. 
          La calidad de su aceite es similar al aceite de maní y el de soya.</p>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="img/fot2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
          <h4>Quinua</h4>
         <p class="card-text">
          Es considerado el “súper grano” porque su valor en nutrientes y proteínas supera al resto de los cereales y productos de origen animal.
           La variedad quinua real es boliviana y única en el mundo.</p>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="img/fot3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
          <h4>Chía</h4>
         <p class="card-text">
          Posee ácidos grasos esenciales como el Omega-3, difíciles de hallar en otros alimentos. Ayuda a regular el colesterol y los triglicéridos.
           Contiene antioxidantes, fibra, proteínas y vitaminas.</p>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="img/fot4.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h4>Maní</h4>
         <p class="card-text">Maní
          Su origen es boliviano donde hay más de 60 variedades. Antioxidante natural, contiene altos niveles de minerales, proteínas y grasas 
          monoinsaturadas que reducen el colesterol y agentes anticancerígenos.</p>
      </div>
    </div>
</div>
<div class="abajo">
    <div class="card" style="width: 18rem;">
      <img src="img/fot5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h4>Amaranto</h4>
         <p class="card-text">
          Considerado un grano sagrado por los pueblos originarios de América, sus cualidades nutricionales son extraordinarias. Ofrece
           más proteínas que el maíz, el trigo y la soya. Y registra dos veces más calcio que la leche.</p>
      </div>
    </div>
      
    <div class="card" style="width: 18rem;">
      <img src="img/fot6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h4>Poroto</h4>
         <p class="card-text">
          Posee un alto contenido en proteínas y en fibra. Es una fuente excelente de minerales.
           Destaca su equilibrado valor en vitaminas del grupo B.</p>
      </div>
    </div>
      
    <div class="card" style="width: 18rem;">
      <img src="img/fot7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h4>Choclo</h4>
         <p class="card-text">
          El choclo, una variedad de maíz, se presenta en forma de espiga llena de granos carnosos y tiernos. 
          Es rico en grasa, hierro y contenido de fibra. Hay más de 300 variedades de maíz dulce.</p>
      </div>
    </div>
      
    <div class="card" style="width: 18rem;">
      <img src="img/fot8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h4>Cañahua</h4>
         <p class="card-text">
          Tiene un alto valor nutritivo y energético. Ofrece abundantes contenidos de proteína y de fibra, en comparación con el trigo y la quinua.
           Debido a su bajo contenido glicémico es recomendable para diabéticos.</p>
      </div>
    </div>
  </div>
</div>